@mixin flexColum {
  display: flex;
  flex-direction: column;
}

@mixin flexElement($direction, $colum, $row) {
  display: flex;
  flex-direction: $direction;
  column-gap: $colum;
  row-gap: $row;
}

@mixin flexConten($direction: row, $justify: center, $align: center, $colum: 0, $row: 0, ) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  column-gap: $colum;
  row-gap: $row;
}

// @include flexConten;
// @include flexConten(column);
// @include flexConten(column, center, flex-end);


// @mixin directionsColum{}