@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap&#39');
$defaultFont : "Open Sans",sans-serif;
$defaultColor : #5f5f5f;
$defaultBlue : #108AC1;
$defaultGray: #909090;
$defaulth2SizeMob : 30px;
$defaulth2SizeTab : 30px;
$defaulth2SizeDes : 28px;
$iconSizeMob : 60px;
$iconSizeTab : 70px;
$iconSizeDes : 76px;
$mediaSizeMob : 200px;
$mediaSizeTab : 500px;
$mediaSizeDes : 1000px;